<link rel="stylesheet" type="text/css" href="components/css/style.css">
<md-dialog aria-label="Mango (Fruit)" id="produtoDerivado">
  <div style="background-color:#0088D4; width:100%; color:white; height:100px; font-size:18px; padding:25px 0 0 30px;">         Produto Dedasrivado
  </div>
  <md-content>
    
    <p>
    <div class="data-table-container" style="overflow:hidden;" id="tableDerivados">
      <table class="data-table data-table--has-primary data-table--has-secondary" style="margin-left:-55px;">
        <thead>
          <tr>
            <th style="width: 73px; padding:0"></th>
            <th><strong>CÓDIGO</strong></th>
            <th><strong>DESCRIÇÃO</strong></th>                
            <th><strong>CÓDIGO DE BARRAS</strong></th>
            <th style="text-align:center;"><strong>PRINCIPAL</strong></th>
            <th style="text-align:center;"><strong>DERIVADO</strong></th>           
          </tr>
          <tr>
            <td></td>
            <td colspan="6" class="divider divider--dark"></td>
          </tr>
        </thead>

        <tbody>
          <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>
            <td style="text-align:center;">
              
            </td>                     
          </tr>
      
          <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>6654</span>
            </td>
            <td>
              <span>Limpa Vidro</span>
            </td>    
            <td>
              <span>7894561215</span>
            </td> 
            <td style="text-align:center;">
              
            </td>
            <td style="text-align:center;">
              <span><i class="mdi  mdi-check"></i></span>
            </td>          
          </tr>

          <tr class="data-table__clickable-row">
            <td>
                
            </td>
            <td>
                <span>1454</span>
            </td>
            <td>
                <span>Milhopã</span>
            </td>   
            <td>
              <span>7894561215</span>
            </td> 
            <td style="text-align:center;">
              
            </td>
            <td style="text-align:center;">
              <span><i class="mdi  mdi-check"></i></span>
            </td>                                     
          </tr>
           <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
              
            </td>
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>                       
          </tr>
           <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
              
            </td>
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>                       
          </tr>
           <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
              
            </td >
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>                    
          </tr>
           <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
             
            </td>
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>            
          </tr>
           <tr class="data-table__clickable-row">
            <td>                    
            </td>
            <td>
              <span>521</span>
            </td>
            <td>
              <span>Coca - Cola</span>
            </td> 
            <td>
              <span>7894561215</span>
            </td>   
            <td style="text-align:center;">
              
            </td>
            <td style="text-align:center;">
              <span><i class="mdi mdi-check"></i></span>
            </td>                  
          </tr>
        </tbody>
      </table>
    </div>
    </p>
  </md-content>
  <div class="md-actions" layout="row">    
    <span flex></span>
    <md-button ng-click="answer('not useful')">
    Cancelar
    </md-button>
    <md-button ng-click="answer('useful')">
    Confirmar
    </md-button>
  </div>
</md-dialog>